.table {
  border: 1px solid #ccc;

  &__header {
    background-color: #f5f5f5;
  }

  &__body {
    display: block;
    max-height: 300px;
    overflow: auto;
  }

  &__header,
  &__body tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__row td {
    border: 1px solid #ccc;
    padding: 8px;

    &:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}
