.table {
  border: 1px solid #ccc;
  border-spacing: 0px;

  &__header {
    background-color: var(--header-bg-color);

    th {
      padding: 8px 10px;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  &__body {
    display: block;
    max-height: 300px;
    overflow: auto;
  }

  &__header,
  &__body tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__row td {
    border: 1px solid #ccc;
    padding: 8px;
    overflow: hidden;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    color: var(--text-color);
    font-weight: 500;

    &:nth-child(odd) {
      background-color: var(--row-bg-color-odd);
    }

    &:nth-child(even) {
      background-color: var(--row-bg-color-even);
    }
  }
}
